@{
    ViewData["Title"] = "Combat Simulator";
}

<div class="container-fluid row">
    <div class="col-md-2 container">
        <h2>Attackers</h2>
        <p>Vexing</p>
        <p>Credit</p>
        <p>Timbus</p>
        <p>Spurre</p>
        <p>Dotadola</p>
    </div>
    <div class="col-md-2 container">
        <h2>Defenders</h2>
        <p>Orc Pawn</p>
    </div>
</div>
<div class="container-fluid row">
    <div class="col-md-6 row container">
        <div class=" col-md-12">
            <h2>Fights</h2>
        </div>
        <div class="col-md-2">
            <p>Fight 1</p>
        </div>
   </div>
</div>